<div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Basic Form</strong>
          Elements
        </div>
        <div class="card-body">
          <div action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input">Product Name</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Product Name" [(ngModel)]="productData.name">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="email-input">Product Code</label>
              <div class="col-md-9">
                <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Product Code" [(ngModel)]="productData.code">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="password-input">Product Price</label>
              <div class="col-md-9">
                <input type="text" id="password-input" name="password-input" class="form-control" placeholder="Product Price" [(ngModel)]="productData.price">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="disabled-input">Product Quantity</label>
              <div class="col-md-9">
                <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="Product Quantity" [(ngModel)]="productData.quantity">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="textarea-input">Product Admin</label>
              <div class="col-md-9">
                <input id="text" name="textarea-input" rows="9" class="form-control" placeholder="Product Admin" [(ngModel)]="productData.admin">
              </div>
            </div>
            <div class="form-group row">
               <label class="col-md-3 form-control-label" for="textarea-input">Product Bulk Quantity</label>
            <div>​    
            <label class="switch switch-text switch-pill switch-success">
                <input type="checkbox" class="switch-input" checked="" [(ngModel)]="productData.bulk">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
          </label>
          </div>
          </div>
          <div class="form-group row">
               <label class="col-md-3 form-control-label" for="textarea-input">Product Status</label>
            <div>​    
            <label class="switch switch-text switch-pill switch-success">
                <input type="checkbox" class="switch-input" checked="" [(ngModel)]="productData.status">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
          </label>
          </div>
          </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-sm btn-primary" (click)="submitProduct()"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>