
<div style="background-color:white;">
<div class="col-md-12">
    <div class="row">
        <div cla></div>
        <div class="col-md-9" style="margin-top: 20px;">
        <button style="float:right;" type="button" class="btn btn-primary" (click)="createNew()" >Create New</button>
        </div>
    <div class="col-md-3"  style="margin-top: 20px;">
    <input type="text" class="form-control" id="name" placeholder="Search by name">
    </div>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Combined All Table
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Produc Name</th>
                <th>Product Code</th>
                <th>Product Price</th>
                <th>Product Quantity</th>
                <th>Product Admin</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>mobile</td>
                <td>mob1234</td>
                <td>14000</td>
                <td>26</td>
                <td>chandran</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>           
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  </div>

